<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${hashtag.name}">Document</title>
    <link rel="icon" href="/assets/icon.png">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/layout.css" />
</head>

<body>
<div class="container">
    <header class="header">
        <h1 class="header__title">Surviving Coding Boot Camp</h1>
        <nav class="header__nav">
            <div class="header__nav-item"><a href="/" class="header__nav-link">Home</a></div>
            <div class="header__nav-item"><a href="/hashtags" class="header__nav-link">Hashtags</a></div>
        </nav>
    </header>
    <main class="main-content">
        <section class="main-content__post post">
            <h3 class="post__topic-title main-content__topic-title">
            </h3>
            <h2 th:text="${hashtag.name}" class="post__title main-content__topic-title"></h2>
            <ul>
            <li th:each="hashtag : ${hashtag.posts}">
                <a th:href="'/posts/' + ${hashtag.id}" th:text="${hashtag.title}"></a>
            </li></ul>
        </section>

    </main>
</div>

</body>

</html>